<div class="content-header">
    <div class="container">
        <h1>Contact us</h1>
    </div>
</div>
<div class="map">
    <iframe width="1168" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=3+Thorney+Close,+Fareham.+PO14+3AF&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=50.02446,107.138672&amp;ie=UTF8&amp;hq=&amp;hnear=3+Thorney+Close,+Fareham+PO14+3AF,+United+Kingdom&amp;ll=50.846667,-1.212033&amp;spn=0.009823,0.026157&amp;t=m&amp;z=14&amp;output=embed&iwloc=near"></iframe>
</div>
<div class="container">		
	<div class="row margin-bottom-30 content-default">
		<div class="col-md-9 mb-margin-bottom-30">
            <div class="headline margin-bottom-20"><h2>Contact Form</h2></div>
            <div ng-hide="contact.sent">
                <p>Please feel free to contact Revived Drives regarding any aspect of your cleaning enquiry. Once you have submited the form a member of the Revived Drives team will be in contact immediately.</p><br />
			    <p>All fields are required&#42;</p>
                <form name="form">
                    <label>Name&#42;</label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-7 col-md-offset-0">
                            <input type="text" class="form-control" ng-model="contact.name" required>
                        </div>                
                    </div>
                
                    <label>Email&#42;</label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-7 col-md-offset-0">
                            <input type="email" class="form-control" ng-model="contact.email" required>
                        </div>                
                    </div>
                
                    <label>Telephone&#42;</label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-7 col-md-offset-0">
                            <input type="tel" class="form-control" ng-model="contact.telephone" required>
                        </div>                
                    </div>

                    <label>Message&#42;</label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-11 col-md-offset-0">
                            <textarea class="form-control" rows="8" ng-model="contact.message" required></textarea>
                        </div>                
                    </div>
                
                    <p><button class="btn btn-large btn-blue" type="submit" ng-disabled="form.$invalid"  ng-click="send(contact)">Send Message</button></p>
                </form>
            </div>
            <div ng-show="contact.sent">
                <h2 class="margin-bottom-20">Thank you!</h2>
                <p>Your enquiry has been received and we will be in contact within 24hrs. Alternatively if you require urgent assistance please telephone 01329 845 526.</p>
            </div>
        </div><!--/col-md-9-->
        
		<div class="col-md-3 contact-info">
            <div class="headline">
                <h2>Contact information</h2>                            
            </div>
           <ul class="contact">
                <li><i class="icon-contact"></i> 3 Thorney Close, Fareham. PO14 3AF</li>
                <li><i class="icon-contact icon-contact-email"></i> <a href="mailto:info@reviveddrives.com">info@reviveddrives.com</a></li>
                <li><i class="icon-contact icon-contact-telephone"></i> 01329 845 526</li>
                <li><i class="icon-contact icon-contact-web"></i> www.reviveddrives.com</li>
            </ul>
             <div class="checka">
                <a href="http://www.checkatrade.com/RevivedDrives" target="_blank">
                    <img src="http://www.checkatrade.com/Reputation/API/RevivedDrives.png" alt="Checkatrade information for Revived Drives"/>
                </a>                
            </div>        
        </div>

    </div>       
</div>


                    