<div class="page cd-listing">
    <h2 class="margin-bottom-30">GDCD</h2>
    <p>Since 2004 I've put together a compilation of (NEW) music that I have listened to throughout the year. I thought it would be mildly amusing to list it all here. If you'd like to listen follow the links at the bottom of each album.</p>
    <ul class="listing">
        <li>Please select year:</li>
        <li><a id="2013" href="#/gdcd/2013">2013</a></li>
        <li><a id="2012" href="#/gdcd/2012">2012</a></li>
        <li><a id="2011" href="#/gdcd/2011">2011</a></li>
        <li><a id="2010" href="#/gdcd/2010">2010</a></li>
        <li><a id="2009" href="#/gdcd/2009">2009</a></li>
        <li><a id="2008" href="#/gdcd/2008">2008</a></li>
        <li><a id="2007" href="#/gdcd/2007">2007</a></li>
        <li><a id="2005" href="#/gdcd/2005">2005</a></li>
        <li><a id="2004" href="#/gdcd/2004">2004</a></li>
    </ul>
    <div id="listing"></div>
</div>