<div class="row">
    <div class="col-md-6">
        <div class="track">
            <img src="images/tracks/2005/1.jpg" width="80" height="80" alt="track" />
            <h3>#1 Fuck Forever</h3>
            <h4>Babyshambles</h4>
            <p>Taken from the album 'Down In Albion'.</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="track">
            <img src="images/tracks/2005/7.jpg" width="80" height="80" alt="track" />
            <h3>#7 Til Kingdom Come</h3>
            <h4>Coldplay</h4>
            <p>Taken from the album 'X &amp; Y'.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="track">
            <img src="images/tracks/2005/2.jpg" width="80" height="80" alt="track" />
            <h3>#2 Be Gone</h3>
            <h4>British Sea Power</h4>
            <p>Taken from the album 'Open Season'.</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="track">
            <img src="images/tracks/2005/8.jpg" width="80" height="80" alt="track" />
            <h3>#8 The Weight Of The World</h3>
            <h4>B.R.M.C</h4>
            <p>Taken from the album 'Howl'.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="track">
            <img src="images/tracks/2005/3.jpg" width="80" height="80" alt="track" />
            <h3>#3 Forget Myself</h3>
            <h4>Elbow</h4>
            <p>Taken from the album 'Leaders Of The Free World'.</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="track">
            <img src="images/tracks/2005/9.jpg" width="80" height="80" alt="track" />
            <h3>#9 Bloody Motherfucking Arsehole</h3>
            <h4>Martha Wainwright</h4>
            <p>Taken from the album 'Martha Wainwight'.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="track">
            <img src="images/tracks/2005/4.jpg" width="80" height="80" alt="track" />
            <h3>#4 Hoppipolla</h3>
            <h4>Sigur Ros</h4>
            <p>Taken from the album 'Takk'.</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="track">
            <img src="images/tracks/2005/10.jpg" width="80" height="80" alt="track" />
            <h3>#10 Dare</h3>
            <h4>Gorillaz</h4>
            <p>Taken from the album 'Demon Days'.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="track">
            <img src="images/tracks/2005/5.jpg" width="80" height="80" alt="track" />
            <h3>#5 The One You Love</h3>
            <h4>Rufus Wainwright</h4>
            <p>Taken from the album 'Want Two'.</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="track">
            <img src="images/tracks/2005/11.jpg" width="80" height="80" alt="track" />
            <h3>#11 Rebellion (Lies)</h3>
            <h4>Arcade Fire</h4>
            <p>Taken from the album 'Funeral'.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="track">
            <img src="images/tracks/2005/6.jpg" width="80" height="80" alt="track" />
            <h3>#6 Love Me Like You</h3>
            <h4>The Magic Numbers</h4>
            <p>Taken from the album 'The Magic Numbers'.</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="track">
            <img src="images/tracks/2005/12.jpg" width="80" height="80" alt="track" />
            <h3>#12 Little Thoughts</h3>
            <h4>Bloc Party</h4>
            <p>Taken from the album 'Silent Alarm'.</p>
        </div>
    </div>
</div>