<div class="row">
    <div class="col-md-6">
        <div class="track">
            <img src="../images/tracks/2007/1.jpg" width="80" height="80" alt="track" />
            <h3>#1 Delivery</h3>
            <h4>Babyshambles</h4>
            <p>Taken from the album 'Shotters Nation'.</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="track">
            <img src="../images/tracks/2007/6.jpg" width="80" height="80" alt="track" />
            <h3>#6 No Pussy Blues</h3>
            <h4>Grinderman</h4>
            <p>Taken from the album 'Grinderman'.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="track">
            <img src="../images/tracks/2007/2.jpg" width="80" height="80" alt="track" />
            <h3>#2 Superstar Tradesman</h3>
            <h4>The View</h4>
            <p>Taken from the album 'Hats Off To The Buskers'.</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="track">
            <img src="../images/tracks/2007/7.jpg" width="80" height="80" alt="track" />
            <h3>#7 1234</h3>
            <h4>Feist</h4>
            <p>Taken from the album 'The Reminder'.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="track">
            <img src="../images/tracks/2007/3.jpg" width="80" height="80" alt="track" />
            <h3>#3 Golden Skans</h3>
            <h4>The Klaxons</h4>
            <p>Taken from the album 'Myths Of The Near Future'.</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="track">
            <img src="../images/tracks/2007/8.jpg" width="80" height="80" alt="track" />
            <h3>#8 Mistaken For Stangers</h3>
            <h4>The National</h4>
            <p>Taken from the album 'Boxer'.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="track">
            <img src="../images/tracks/2007/4.jpg" width="80" height="80" alt="track" />
            <h3>#4 No Cars Go</h3>
            <h4>Arcade Fire</h4>
            <p>Taken from the album 'Neon Bible'.</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="track">
            <img src="../images/tracks/2007/9.jpg" width="80" height="80" alt="track" />
            <h3>#9 Green Fields</h3>
            <h4>The Good, The Bad and the Queen</h4>
            <p>Taken from the album 'The Good, The Bad and the Queen'.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="track">
            <img src="../images/tracks/2007/5.jpg" width="80" height="80" alt="track" />
            <h3>#5 Weird Fishes / Arpeggi</h3>
            <h4>Radiohead</h4>
            <p>Taken from the album 'In Rainbows'.</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="track">
            <img src="../images/tracks/2007/10.jpg" width="80" height="80" alt="track" />
            <h3>#10 Do Me A Favour</h3>
            <h4>Arctic Monkeys</h4>
            <p>Taken from the album 'Favourite Worst Nightmare'.</p>
        </div>
    </div>
</div>