<div class="row">
    <div class="col-md-6">
        <div class="track">
            <img src="images/tracks/2009/1.jpg" width="80" height="80" alt="track" />
            <h3>#1 Surprise Hotel</h3>
            <h4>Fool's Gold</h4>
            <p>Taken from the album 'Fool's Gold'.</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="track">
            <img src="images/tracks/2009/6.jpg" width="80" height="80" alt="track" />
            <h3>#6 Roll Up Your Sleeves</h3>
            <h4>We Were Promised Jet Packs</h4>
            <p>Taken from the album 'These Four Walls'.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="track">
            <img src="images/tracks/2009/2.jpg" width="80" height="80" alt="track" />
            <h3>#2 Walking On A Dream</h3>
            <h4>Empire Of The SUn</h4>
            <p>Taken from the album 'Walking On A Dream'.</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="track">
            <img src="images/tracks/2009/7.jpg" width="80" height="80" alt="track" />
            <h3>#7 Home</h3>
            <h4>Edward Sharpe And The Magnetic Zeros</h4>
            <p>Taken from the album 'Up From Below'.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="track">
            <img src="images/tracks/2009/3.jpg" width="80" height="80" alt="track" />
            <h3>#3 Not The Only One</h3>
            <h4>The Rumble Stripes</h4>
            <p>Taken from the album 'Welcome To The Walk Alone'.</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="track">
            <img src="images/tracks/2009/8.jpg" width="80" height="80" alt="track" />
            <h3>#8 Little Lion Man</h3>
            <h4>Mumford And Sons</h4>
            <p>Taken from the album 'Sign No More'.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="track">
            <img src="images/tracks/2009/4.jpg" width="80" height="80" alt="track" />
            <h3>#4 Let's Go Surfing</h3>
            <h4>The Drums</h4>
            <p>Taken from the album 'The Drums'.</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="track">
            <img src="images/tracks/2009/9.jpg" width="80" height="80" alt="track" />
            <h3>#9 Sweet Disposition</h3>
            <h4>The Temper Trap</h4>
            <p>Taken from the album 'Conditions'.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="track">
            <img src="images/tracks/2009/5.jpg" width="80" height="80" alt="track" />
            <h3>#5 It's Alright</h3>
            <h4>Little Red</h4>
            <p>Taken from the album 'Listen To Little Red'.</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="track">
            <img src="images/tracks/2009/10.jpg" width="80" height="80" alt="track" />
            <h3>#10 A Whole New Way</h3>
            <h4>The Horrors</h4>
            <p>Taken from the album 'Primary Colours'.</p>
        </div>
    </div>
</div>