<div class="row">
    <div class="col-md-6">
        <div class="track">
            <img src="../images/tracks/2010/1.jpg" width="80" height="80" alt="track" />
            <h3>#1 Young Blood</h3>
            <h4>The Naked + Famous</h4>
            <p>Taken from the album 'Passive Me, Aggressive You'.</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="track">
            <img src="../images/tracks/2010/6.jpg" width="80" height="80" alt="track" />
            <h3>#6 Sea Serpents</h3>
            <h4>Babeshadow</h4>
            <p>Taken from the album 'Babeshadow'.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="track">
            <img src="../images/tracks/2010/2.jpg" width="80" height="80" alt="track" />
            <h3>#2 O.N.E</h3>
            <h4>Yeasayer</h4>
            <p>Taken from the album 'Odd Blood'.</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="track">
            <img src="../images/tracks/2010/7.jpg" width="80" height="80" alt="track" />
            <h3>#7 Answer To Yourself</h3>
            <h4>The Soft Pack</h4>
            <p>Taken from the album 'The Soft Pack'.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="track">
            <img src="../images/tracks/2010/3.jpg" width="80" height="80" alt="track" />
            <h3>#3 Algebra</h3>
            <h4>Airship</h4>
            <p>Taken from the album 'Spirit Of The Beehive'.</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="track">
            <img src="../images/tracks/2010/8.jpg" width="80" height="80" alt="track" />
            <h3>#8 Light It Up</h3>
            <h4>Bloody Red Shoes</h4>
            <p>Taken from the album 'Fire Like This'.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="track">
            <img src="../images/tracks/2010/4.jpg" width="80" height="80" alt="track" />
            <h3>#4 Ive &amp; Gold</h3>
            <h4>Bombay Bicycle Club</h4>
            <p>Taken from the album 'Flaws'.</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="track">
            <img src="../images/tracks/2010/9.jpg" width="80" height="80" alt="track" />
            <h3>#9 This Orient</h3>
            <h4>Foals</h4>
            <p>Taken from the album 'Total Life Forever'.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="track">
            <img src="../images/tracks/2010/5.jpg" width="80" height="80" alt="track" />
            <h3>#5 Wreckin' Bar (Ra Ra Ra)</h3>
            <h4>The Vaccines</h4>
            <p>Taken from the album 'What Did You Expect From The Vaccines?'.</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="track">
            <img src="../images/tracks/2010/10.jpg" width="80" height="80" alt="track" />
            <h3>#10 Everything You Wanted</h3>
            <h4>Kele</h4>
            <p>Taken from the album 'The Boxer'.</p>
        </div>
    </div>
</div>